
<script type="text/javascript">
$(function() {
    $("#checkAll").click(function() {
        $('input[name="subBox"]').attr("checked",this.checked); 
    });
    var $subBox = $("input[name='subBox']");
    $subBox.click(function(){
        $("#checkAll").attr("checked",$subBox.length == $("input[name='subBox']:checked").length ? true : false);
    }); 
});

</script>
<style>
.case_man .main_td .bianj {
    background: none repeat scroll 0 0 #7f90b7;
    border-radius: 3px;
    display: block;
    margin: 5px;
    padding: 4px 20px;
    white-space: nowrap;
}

</style>
<{include file="../common/header_navigation.html"}>
<div class="main clearfix  fYaHei">
    <div class="case_man">
        <div class="main_tl main_jiaoy mb20">
            <form name="formSearch" id="formSearch" method="get" action="/index.php/manager/cases/caselist"> 
            <input type="hidden" name="page" id="page" value="<{$page}>">
            <div class="clearfix">
                <span class="fl mr10 fenl">
                    <select id="status" name="status">
                        <option value='0'>状态</option>
                        <{foreach from=$status item=statu key=key}>
                        <option value="<{$key}>" <{if $search.status == $key}> selected="selected"<{/if}> ><{$statu}></option>
                        <{/foreach}>
                    </select>
                </span>
                <span class="fl mr10 fenl">
                    <select name="sort">
                        <option value='0' <{if $search.sort == 0}> selected="selected"<{/if}>>报名时间↓</option>
                        <option value='1' <{if $search.sort == 1}> selected="selected"<{/if}>>报名时间↑</option>
                        <option value='2' <{if $search.sort == 2}> selected="selected"<{/if}>>得分↓</option>
                        <option value='3' <{if $search.sort == 3}> selected="selected"<{/if}>>得分↑</option>
                    </select>
                </span>
                <div class="clearfix fl">
                    <div class="fl f14 mr10 graydeep"><input placeholder="想要找..." value="<{$search.title}>" id="title" name="title" class="ml5 cz pl10 w200"></div>
                    <div class="fl"><input type="submit" value="查询" class="aka fl mr5 cx white"></div>
                </div>
                <div class="aka fr cx white"><a href="javascript:examine()">审核</a></div>
                <div class="aka fr mr10 cx white"><a href="javascript:noexamine()">拒审</a></div>
            </div>
            </form>
        </div>
        <div class="main_td mt15 fYaHei mb20">
            <table width="100%" border="1" cellspacing="0" cellpadding="0">
                <tr align="center" class="lbg">
                    <td width="50" height="50"><input id="checkAll"  type="checkbox" /></td>
                    <td>案例名称</td>
                    <td>提报奖项</td>
                    <td>上传公司</td>
                    <td>报名时间</td>
                    <td>得分</td>
                    <td>案例状态</td>
                    <td>送报公司</td>
                    <td>审核人员</td>
                    <td>操作</td>
                </tr>
                <{foreach from=$cases item=case}>
                <tr align="center" height="50">
                    <td><input name="subBox" type="checkbox" value="<{$case.cid}>"/></td>
                    <td><{$case.title}></td>
                    <td>
                    <{foreach from=$awards item=award key=key}>
                        <{if in_array($key,explode(',', $case.aid))}>
                            <{$award}>,
                        <{/if}>
                    <{/foreach}>
                    </td>
                    <td><{$case.company}></td>
                    <td><{$case.create_time|date_format:"%Y-%m-%d"}></td>
                    <td><{$case.score}></td>
                    <td><{$status[$case.status]}></td>
                    <td><{$case.no_case_advertiser}></td>
                    <td><{$case.contact}></td>
                    <td>
                        <{if !empty($case.title)}>
                        <a href="/index.php/manager/cases/caseopen?cid=<{$case.cid}>">查看详情</a>
                        <hr>
                        <{/if}>
                        <{if !empty($case.url)}>
                        <a href="<{$case.url}>">下载PPT</a>
                        <{/if}>
                        <{if !empty($case.video_url)}>
                        <a href="<{$case.video_url}>">下载视频</a>
                        <{/if}>
                        <{if !empty($case.no_case_url)}>
                        <a href="<{$case.no_case_url}>">下载word</a>
                        <{/if}>
                        <{if !empty($case.no_case_advertiser_logo)}>
                        <a href="<{$case.no_case_advertiser_logo}>">主广告logo</a>
                        <{/if}>
                        <{if !empty($case.no_case_visual_url)}>
                        <a href="<{$case.no_case_visual_url}>">人物照片</a>
                        <{/if}>
                    </td>
                </tr>
                <{/foreach}>
            </table>
        </div>
        <div class="page clearfix">
            <div class="fr">
                <div class="fr">
                    <div class="fl go " onclick="indexpage()">首页</div>
                    <div class="fl go " onclick="uppage()">上一页</div>
                    <div class="fl go  page_bg"><{$page}></div>
                    <!--<div class="fl go  page_bg">...</div>-->
                    <!--<div class="fl go  page_bg"><{$sumpage}></div>-->
                    <div class="fl go " onclick="downpage()">下一页</div>
                    <div class="fl go " onclick="lastpage()" style=" border-right:1px solid #eeeeee;">尾页</div>
                </div>
            </div>
        <!--弹出修改 删除 none 可显示隐藏div-->      
    </div>
</div>
<script type="text/javascript">
function examine(){
	var status = 2;
	var chk_value =[];
    $('input[name="subBox"]:checked').each(function(){   
        chk_value.push($(this).val());   
    });
    $.ajax({
        url:"/index.php/manager/cases/changestatus",
        type:"get",
        data:{cids:chk_value,status:status},
        dataType : "json",
        success:function(data){
            if(data){
                //$("#checkAll").attr("checked",false);
                alert('成功');
                location.reload();
            }else{
                alert('失败');
            }
        }
    });
}
function noexamine(){
	var status = 3;
    var chk_value =[];
    $('input[name="subBox"]:checked').each(function(){   
        chk_value.push($(this).val());   
    });
    $.ajax({
        url:"/index.php/manager/cases/changestatus",
        type:"get",
        data:{cids:chk_value,status:status},
        dataType : "json",
        success:function(data){
            if(data){
                //$("#checkAll").attr("checked",false);
                alert('成功');
                location.reload();
            }else{
                alert('失败');
            }
        }
    });
}

function uppage(){
	var page = $("#page").val();
    var newpage = parseInt(page)-1;
    if(newpage<1){
    	alert("前面没有了！");
    }else{
    	$("#page").val(newpage);
        $("#formSearch").submit();
    }
	
}

function downpage(){
	var page = $("#page").val();
	if(page >= <{$sumpage}>){
		alert("后面没有了！");
	}else{
		var newpage = parseInt(page)+1;
	    $("#page").val(newpage);
	    $("#formSearch").submit();
	}
}

function indexpage(){
	$("#page").val(1);
    $("#formSearch").submit();
}

function lastpage(){
	$("#page").val(<{$sumpage}>);
    $("#formSearch").submit();
}
</script>