<script type="text/javascript">
    $(function(){
        $("#checkAll").click(function () {
            $('input[name="subBox"]').prop("checked", this.checked);
        });
        var $subBox = $("input[name='subBox']");
        $subBox.click(function () {
            $("#checkAll").prop("checked", $subBox.length == $("input[name='subBox']:checked").length ? true : false);
        });
        /*首页*/
        $('#indexpage_user').on('click', function (e){
            $("#page_user").val(1);
            $("#userSearch").submit();
        });
        /*上一頁*/
        $('#uppage_user').on('click', function (e){
            var page = $("#page_user").val();
            var newpage = parseInt(page)-1;
            if(newpage<1){
                alert("前面没有了！");
            }else{
                $("#page_user").val(newpage);
                $("#userSearch").submit();
            }
        });
        /*下一页*/
        $('#downpage_user').on('click', function (e){
            var page = $("#page_user").val();
            if(page >= <{$sumpage}>){
                alert("后面没有了！");
            }else{
                var newpage = parseInt(page)+1;
                $("#page_user").val(newpage);
                $("#userSearch").submit();
            }
        });
        /*尾页*/
        $('#lastpage_user').on('click', function (e){
            $("#page_user").val(<{$sumpage}>);
            $("#userSearch").submit();
        });
        //第一页
        $('#first_user').on('click', function (e){
            $("#page_user").val(1);
            $("#userSearch").submit();
        });
        //第二页
        $('#second_user').on('click', function (e){
            $("#page_user").val(2);
            $("#userSearch").submit();
        });
    });
</script>
<{include file="../common/header_navigation.html"}>
<div class="container" id="caseListPage">
    <div class="search">
        <form name="userSearch" id="userSearch" method="get" action="/index.php/manager/user/userAdmin">
            <input type="hidden" name="page" id="page_user" value="<{$page}>">
            <div class="up form-group">
                <strong class="">选择年份：</strong>
                <select class="selectpicker" data-width="100" id="chooseY" name="chooseY">
                    <option value="2017" <{if $search.chooseY == 2017}> selected="selected"<{/if}>>第九届</option>
                    <option value="2016" <{if $search.chooseY == 2016}> selected="selected"<{/if}>>第八届</option>
                    <option value="2015" <{if $search.chooseY == 2015}> selected="selected"<{/if}>>第七届</option>
                </select>
                <strong class="">排序方式：</strong>
                <select class="selectpicker" data-width="100" id="sort" name="sort">
                    <option value="0" <{if $search.sort == 0}> selected="selected"<{/if}>>待选择</option>
                    <option value="1" <{if $search.sort == 1}> selected="selected"<{/if}>>案例数由高到低</option>
                    <option value="2" <{if $search.sort == 2}> selected="selected"<{/if}>>案例数由低到高</option>
                    <option value="3" <{if $search.sort == 3}> selected="selected"<{/if}>>注册时间由早到晚</option>
                    <option value="4" <{if $search.sort == 4}> selected="selected"<{/if}>>注册时间由晚到早</option>
                </select>
                <strong class="">付款状态：</strong>
                <select class="selectpicker" data-width="100" id="payStatus" name="payStatus">
                    <option value="0" <{if $search.payStatus == 0}> selected="selected"<{/if}>>全部状态</option>
                    <option value="1" <{if $search.payStatus == 1}> selected="selected"<{/if}>>未支付</option>
                    <option value="2" <{if $search.payStatus == 2}> selected="selected"<{/if}>>已全额支付</option>
                    <option value="3" <{if $search.payStatus == 3}> selected="selected"<{/if}>>未支付全额</option>
                </select>
            </div>
            <hr>
            <div class="bottom-input">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">搜索</span>
                        <input type="text" class="form-control" placeholder="上报公司 报名人员 案例名称"
                               aria-describedby="searchLabel"
                               id="userInput" name="userInput">
                        <span class="input-group-btn">
                        <input type="submit" class="btn btn-warning w70" value="确定" type="button">
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-content col-md-12">
        <table class="table table-bordered caseTable" data-toggle="table" id="caseListTable">
            <thead class="thead-inverse">
            <tr>
                <th><input id="checkAll" type="checkbox"/> 全选</th>
                <th>用户名</th>
                <th>注册时间</th>
                <th>联系人座机</th>
                <th>联系人手机</th>
                <th>提交案例数</th>
                <th>付款状态</th>
                <th>付款记录</th>
            </tr>
            </thead>
            <tbody>
            <{foreach from=$allUser item=user}>
            <tr>
                <td><input type="checkbox" name="subBox" value="<{$user.uid}>"></td>
                <td><{$user.username}></td>
                <td><{$user.create_time|date_format:"%Y-%m-%d"}></td>
                <td><{$user.telephone}></td>
                <td><{$user.mobile}></td>
                <td><{$user.count}></td>
                <{if $user.pay_info == '1'}><td>未支付</td><{/if}>
                <{if $user.pay_info == '2'}><td>已全部支付</td><{/if}>
                <{if $user.pay_info == '3'}><td>未全部支付</td><{/if}>
                <td><a href="/index.php/manager/user/openUserInfo?uid=<{$user.uid}>&type=2">操作</a></td>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
    <div class="page clearfix">
        <div class="fr">
            <div class="fr">
                <{if $sumpage =='2'}>
                <div class="fl go  page_bg" id="first_user">1</div>
                <div class="fl go  page_bg" id="second_user"><{$sumpage}></div>
                <{/if}>
                <{if $sumpage >='3'}>
                <div class="fl go " id="indexpage_user">首页</div>
                <div class="fl go " id="uppage_user">上一页</div>
                <div class="fl go  page_bg"><{$page}></div>
                <div class="fl go  page_bg">...</div>
                <div class="fl go  page_bg"><{$sumpage}></div>
                <div class="fl go " id="downpage_user">下一页</div>
                <div class="fl go " id="lastpage_user">尾页</div>
                <{/if}>
            </div>
        </div>
    </div>
</div>